<html>
    <head>
        <title>Kitties and Unicorns</title>
    </head>
    <body>
        <div>
            <h1><a href="">Kitties and Unicorns</a></h1>
        </div>

        <div>
            <h2><a href="">Kitties and Unicorns are awesome!</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
			<p>published: 28.11.2015, 16:00</p>
	   </div>

        <div>
            <h2><a href="">Way to go, Girls!</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
			<p>published: 28.11.2015, 16:00</p>
		</div>
    </body>
</html>
